<!DOCTYPE html>
<html>
  <head>
    <title>Teresa UCB</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a la Bolsa de Trabajo, <%= @user.name %></h1>
    <p>
      Te acabas de registrar de manera satisfactoria a nuestra red,de parte del equipo de Teresa queremos darte la bienvenida,
      a continuacion te mostramos los datos que nos proporcionaste.<br>
      Tu nombre: <%= @user.name%>.<br>
      Tu apellido: <%=@user.last_name%>.<br>
    </p>
      Si es que cometiste algun error puedes arreglarlo editando tu perfil
    <p>
      Gracias por ser parte de nuestra red y esperamos que sea provechoso para usted.
    </p>
    </body>
</html>
