
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
    <br><br><br>
      <h3><%=@notification.title%></h3>
      </div>
      </div>
      <div class="panel-body">
       <div>
        <h4>  <strong><%=@sender.name%>&emsp;</strong>
          &emsp;&emsp;
            <%if !@sender.is_company?%>
            <a href="/curriculums/<%=@sender.id%>">
              <button class="btn btn-default btn-sm pull-right">Ver Perfil</button>
            </a>
            <%end%>
            <p > <%=@notification.description%>
            </p>
        </h4>
      </div>

 </div>
 </div>
