<div class="collapse navbar-collapse navbar-fixed-top navbar-inverse">

  <img src="logocato.png" alt="logo" style="width:50px;height:50px;">
  <ul class="nav navbar-nav navbar-right">
    <li class="scroll active"><a href="#home">Inicio</a></li>
    <li class="scroll"><a href="#services">Servicios</a></li>
    <li class="scroll"><a href="#about-us">Sobre Nosotros</a></li>
    <li class="scroll"><a href="#">Empresas Asociadas</a></li>
    <li class="scroll"><a href="#">Detras</a></li>
    <li class="scroll"><a href="#">Por que Teresa?</a></li>
    <li class="scroll"><a href="/users/profile">Ingresa</a></li>
  </ul>
</div>
<section id="home">

    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#home-slider" data-slide-to="0" class="active"></li>
        <li data-target="#home-slider" data-slide-to="1"></li>
        <li data-target="#home-slider" data-slide-to="2"></li>
        <li data-target="#home-slider" data-slide-to="3"></li>
        <li data-target="#home-slider" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(entrevista2.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">Bienvenido a  <span>Teresa</span></h1>
            <p class="animated fadeInRightBig">Una red Social donde podras desarrollar tu vida profesional</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="/users/sign_in">Registrate</a>
          </div>
        </div>
        <div class="item" style="background-image: url(grupo2.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig"> <span>bolsa de Trabajo</span></h1>
            <p class="animated fadeInRightBig">donde podras publicar y recibir ofertas laborales</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="/users/profile">Ingresar</a>
          </div>
        </div>
        <div class="item" style="background-image: url(fila3.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">no hagas<span> filas</span></h1>
            <p class="animated fadeInRightBig">contactate con las empresas y profesionales de manera mas rapida</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="/users/profile">Ingresar</a>
          </div>
        </div>
        <div class="item" style="background-image: url(red.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig"><span>contactate</span></h1>
            <p class="animated fadeInRightBig">publica - informate - comparte</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="/users/profile">Empezar</a>
          </div>
        </div>
        <div class="item" style="background-image: url(red2.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig"> <span>Unete</span></h1>
            <p class="animated fadeInRightBig">A la mas grande red social de bolivia</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="/users/profile">Unirme</a>
          </div>
        </div>
      </div>
      <a class="left-control" href="#home-slider" data-slide="prev"><em class="fa fa-angle-left"></em></a>
      <a class="right-control" href="#home-slider" data-slide="next"><em class="fa fa-angle-right"></em></a>

      <a id="tohash" href="#services"><em class="fa fa-angle-down"></em></a>

    </div><!--/#home-slider-->
    <div class="main-nav">
  </div><!--/#main-nav-->
</section>

    <section id="services">
      <div class="container">
        <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="row">
            <div class="text-center col-sm-8 col-sm-offset-2">
              <h2>Servicio</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim venia</p>
            </div>
          </div>
        </div>
        <div class="text-center our-services">
          <div class="row">
            <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="service-icon">
                <em class="fa fa-flask"></em>
              </div>
              <div class="service-info">
                <h3>Comunicacion Instantanea</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
              <div class="service-icon">
                <em class="fa fa-umbrella"></em>
              </div>
              <div class="service-info">
                <h3>Mayores Alcances</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
              <div class="service-icon">
                <em class="fa fa-cloud"></em>
              </div>
              <div class="service-info">
                <h3>Ofertas Laborales</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="650ms">
              <div class="service-icon">
                <em class="fa fa-coffee"></em>
              </div>
              <div class="service-info">
                <h3>Disponibilidad de Trabajo</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="750ms">
              <div class="service-icon">
                <em class="fa fa-bitbucket"></em>
              </div>
              <div class="service-info">
                <h3>Segun tus intereses</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
              <div class="service-icon">
                <em class="fa fa-gift"></em>
              </div>
              <div class="service-info">
                <h3>Lorem Ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!--/#services-->
    <section id="about-us" class="parallax">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
              <h2>Sobre nosotros</h2>
              <p>Teresa es un sistema </p>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="our-skills wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p class="lead">EStudiantes universitarios</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="95">95%</div>
                </div>
              </div>
              <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
                <p class="lead">EStudiantes egresados</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="75">75%</div>
                </div>
              </div>
              <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                <p class="lead">Empresas asociadas</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="60">60%</div>
                </div>
              </div>
              <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <p class="lead">ofertas de trabajo</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="85">85%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!--/#about-us-->
