
<div class="panel panel-default">
  <div class="panel-heading"><div class="panel-title"><h3>Todos los miembros </h3></div></div>
  <div class="panel-body">
  <% if @members.size >0%>
  <ul class="list-group">
  <% @members.each do |user| %>
    <li class="list-group-item">
      <div>
        <h4>  <strong><%=user.name%>&emsp;</strong>
          &emsp;&emsp;
          <%if user.is_my_group(@group.id)%>
            Creador
          <%else%>
              Miembro
          <%end%>
          <%if current_user.not_me(user.id)%>
            <a href="/curriculums/<%=user.id%>">
              <button class="btn btn-default btn-sm pull-right">Ver Perfil</button>
            </a>
            <%if current_user.is_my_group(@group.id)%>
              <button class="btn btn-warning btn-sm pull-right">
                <%=link_to "Botar", {controller: "groups",action:"botar",id:@group.id,user_id:user.id}%>
              </button>
            <%end%>
          <%end%>
        </h4>
      </div>
    </li>
      <%end%>
   <%end%>
 </ul>
 </div>
 </div>
